<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="app.css">
    </head>
    <body ng-app="YourApp">

        <div ng-controller="YourController" layout="row" class="main">

            <md-content flex layout="column">

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1>
                            <span>Droppable area</span>
                        </h1>
                    </div>
                </md-toolbar>

                <div
                    droppable 
                    drop="handleDrop()" 
                    layout="column"
                    >
                    <div 
                        class="item"
                        ng-repeat="obj in dropped"
                        droppable
                        drop="dropItem(obj, $index)"
                        >
                        {{obj.name}}
                    </div>
                </div>

            </md-content>

            <md-sidenav 
                layout="column" 
                class="md-sidenav-right"
                md-component-id="right"
                md-is-locked-open="true"
                md-whiteframe="4"
                style="overflow: visible;"
                >
                <md-toolbar>
                    <div class="md-toolbar-tools" layout="row">
                        <h1 flex>
                            <span>Palette</span>
                        </h1>
                    </div>
                </md-toolbar>

                <md-content layout-padding style="overflow: visible;">

                    <form name="filterForm">
                        <md-input-container class="md-icon-float">
                            <label>Filter</label>
                            <md-icon>search</md-icon>
                            <input name="paletteFilter" ng-model="paletteFilter">
                        </md-input-container>
                    </form>               

                    <div layout="column">
                        <div 
                            class="palette-item" 
                            ng-repeat="obj in palette"
                            draggable
                            start-drag="startDrag(obj)"
                            id="item-$index"
                            >
                            {{obj.name}}
                        </div>
                    </div>     

                </md-content>                
            </md-sidenav>
        
        </div>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>
        <script src="drag-and-drop.js"></script>
        <script src="app.js"></script>

    </body>
</html>
