<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="/bower_components/ng-sortable/dist/ng-sortable.min.css">
        <link rel="stylesheet" href="app.css">
    </head>
    <body ng-app="YourApp">

        <div 
            ng-controller="YourController" 
            layout="row" 
            class="main" 
            id="sortable-container"
            >

            <md-content
                class="content-area" 
                flex 
                layout="column"
                >

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1>
                            <span>Droppable area</span>
                        </h1>
                    </div>
                </md-toolbar>

                <div
					class="drop-area"
                    layout="column"
                    as-sortable="sortableOptions" 
                    ng-model="dropped"
                    >
                    <div 
                        class="draggable-item"
                        ng-repeat="obj in dropped"
                        as-sortable-item
                        >
                        <div as-sortable-item-handle>
                            {{obj.name}} | {{obj.temp}}
                        </div>
                    </div>
                </div>

            </md-content>

            <md-sidenav 
                layout="column" 
                class="md-sidenav-right"
                md-component-id="right"
                md-is-locked-open="true"
                md-whiteframe="4"
                style="overflow: visible;"
                >
                <md-toolbar>
                    <div class="md-toolbar-tools" layout="row">
                        <h1 flex>
                            <span>Palette</span>
                        </h1>
                    </div>
                </md-toolbar>

                <md-content layout-padding style="overflow: visible;">

                    <form name="filterForm">
                        <md-input-container class="md-icon-float">
                            <label>Filter</label>
                            <md-icon>search</md-icon>
                            <input name="paletteFilter" ng-model="paletteFilter">
                        </md-input-container>
                    </form>               

                    <div 
                        layout="column"
                        as-sortable="sortableCloneOptions" 
                        ng-model="palette"
                        >
                        <div 
                            class="draggable-item"                        
                            ng-repeat="obj in palette"
                            as-sortable-item
                            >
                            <div as-sortable-item-handle>
                                {{obj.name}}
                            </div>
                        </div>
                    </div>     

                </md-content>                
            </md-sidenav>
        
        </div>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>
        <script type="text/javascript" src="/bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
        <script src="app.js"></script>

    </body>
</html>
